<ul class="">
  <li>
    <span class="inventory-total-supply">{{ model.totalInventory }}</span>
    <span class="inventory-available-supply">{{ model.currentlyAvailable }}</span>
  </li>
</ul>

<button class="quick-rent-btn" {{action 'quickRent'}} disabled={{ model.blockRents }}>Rent</button>

<ul class="rentals">
  {{#each model.history as |rental|}}
    {{#unless rental.checkIn}}
      <li class="inventory-active-rental-item">
        <span class="rental-out-date">{{rental.checkOut}}</span>
      </li>
    {{/unless}}
  {{/each}}
</ul>
